.m-cms {
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;

        @media only screen and (max-width: $breakpoint-lg) {
            grid-template-columns: 1fr;
        }

        &__item {
            background: white;
            padding: 20px;
            box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.06);
        }
    }
}